.active-bounce-button {
  transition: all 0.15s ease-in-out;
  user-select: none;
}
.active-bounce-button:active {
  transform: scale(0.95);
}

.loader {
  border: solid 4px transparent;
  border-top-color: white;
  border-bottom-color: white;
}

.header-link {
  border-top: solid 2px transparent !important;
}
