@tailwind base;

@tailwind components;

@tailwind utilities;

.tooltip .tooltip-text {
  @apply invisible;
  @apply px-2;
  @apply py-1;
  @apply absolute;
  @apply z-50;
  @apply inline-block;
  @apply ml-2;
  @apply rounded-lg;
  @apply bg-gray-700;
  @apply text-white;
}

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.tooltip:hover .tooltip-text {
  @apply visible;
}

.tooltip .tooltip-text::after {
  @apply absolute;
  content: " ";
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #4a5568 transparent transparent;
}

.dream-card-button {
  @apply text-secondary;
  @apply rounded;
  @apply px-3;
  @apply py-2;
}

.dream-card-button:hover {
  @apply bg-gray-200;
}
